@using Microsoft.AspNetCore.Identity;
@using WebProjectExam.Models.Entities;
@model WebProjectExam.Models.ViewModels.CommentVM.AllCommentsVM

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<a asp-action="Create" asp-route-id="@Model.Id">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>Desc</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td>
                    @item.Description
                </td>
                @if (item.UserId == Model.UserId)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>