@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This Website is made by Jordan Bashev and Vasil Parshev <br />
    <a href="https://github.com/JordanBashev/WebProjectExam">Github Repository of the website</a>.</p>
</div>
